.card
  display: flex
  flex-wrap: wrap

.hero-card, .hero-image
  width: 250px
  max-width: 250px
  margin: 0 auto

.hero-image
  border-radius: 50%
  height: 250px
  object-fit: cover

.hero-title
  color: #e38c9b
  font-weight: bold
  font-size: 1.5rem
  margin: 1rem

.hero-description
  color: grey



